.cart-list {
  width: calc(100% - 500px - 150px);
  margin-right: 150px;
  &__title {
    font-size: 30px;
    font-weight: bold;
    color: #404049;
  }
  &__listing {
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px;
    &-item {
      padding: 30px 0;
      border-bottom: 1px solid #cecece  ;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__back {
    display: flex;
    align-items: center;
    &-text {
      font-size: 22px;
      font-weight: bold;
      margin-left: 10px;
      color: #3A76D6;
    }
  }
  &__subtotal {
    display: flex;
    align-items: flex-end;
    &-label {
      color: #B1B1B0;
      font-size: 20px;
    }
    &-num {
      font-size: 26px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}